@charset "utf-8";
@font-face {
  font-family:'nmj';
  font-style: normal;
  font-weight:normal;  
  src: url(/pcms/common/font/nanummyeongjo/NanumMyeongjo.woff) format('woff');
}

.nmj{font-family: 'Nanum Myeongjo' , 'nmj', 'Nanum Myeongjo EOT', SimHei, Sans-serif;font-weight: 400;}