@charset "utf-8";
@font-face {
  font-family:'impactamin';
  font-style: normal;
  font-weight:normal;  
  src: url(/pcms/common/font/impactamin/impactamin.woff) format('woff');
}
.jalnan{font-family:'impactamin';}