@charset "utf-8";
@keyframes ani_effect {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(40px) rotate(-0.01deg);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateY(0) rotate(-0.01deg);
  }
}

@-webkit-keyframes ani_effect {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(40px) rotate(-0.01deg);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateY(0) rotate(-0.01deg);
  }
}

@-webkit-keyframes kenburns-bottom {
  0%,13% {
    -webkit-transform: scale(1) translateY(0) rotate(-0.01deg);
            transform: scale(1) translateY(0) rotate(-0.01deg);

  }
  90%,100% {
    -webkit-transform: scale(1.1) translateY(10px) rotate(-0.01deg);
            transform: scale(1.1) translateY(10px) rotate(-0.01deg);
 
  }
}
@keyframes kenburns-bottom {
  0%,13% {
    -webkit-transform: scale(1) translateY(0) rotate(-0.01deg);
            transform: scale(1) translateY(0) rotate(-0.01deg);

  }
  90%,100% {
    -webkit-transform: scale(1.1) translateY(10px) rotate(-0.01deg);
            transform: scale(1.1) translateY(10px) rotate(-0.01deg);

  }
}

@-webkit-keyframes circle {
  0% {opacity:1;transform: scale(1) rotate(-0.01deg);-webkit-transform: scale(1) rotate(-0.01deg);}
  100% {opacity:0;transform: scale(1.4) rotate(-0.01deg);-webkit-transform: scale(1.4) rotate(-0.01deg);}
}
@keyframes circle {
  0% {opacity:1;transform: scale(1) rotate(-0.01deg);-webkit-transform: scale(1) rotate(-0.01deg);}
  100% {opacity:0;transform: scale(1.4) rotate(-0.01deg);-webkit-transform: scale(1.4) rotate(-0.01deg);}
}

* {font-family: 'nsr','맑은고딕','Malgun Gothic',-apple-system;}
a, abbr, address, article, aside, audio, body, canvas, caption, cite, dd, details, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, img, label, legend, li, menu, nav, object, ol, p, section, span, strong, summary, table, tbody, td, tfoot, th, thead, tr, ul, video{font-family: 'nsr','맑은고딕','Malgun Gothic',-apple-system;}




#top_layout .top_wrap #logo > a span {background-image: url(../images/common/logo2.png);}
#top_layout .top_wrap #logo > a em {color:#fff;}
#top_layout .top_wrap #logo > a em:before {background:rgba(255,255,255,.3);}
#top_layout .top_wrap .utile_wrap li.login a,
#top_layout .top_wrap .utile_wrap li.logout a {color:#fff;}
#top_layout .top_wrap .utile_wrap li.login a span,
#top_layout .top_wrap .utile_wrap li.logout a span {background: url(../images/common/icon3.png)no-repeat;}
#top_layout .top_wrap .utile_wrap li.pc a {background: url(../images/common/menu2.png)no-repeat center;}

#top_layout.on {background:#fff;}
#top_layout.on .top_wrap #logo > a span {background-image: url(../images/common/logo.png);}
#top_layout.on .top_wrap #logo > a em {color:#282828;}
#top_layout.on .top_wrap #logo > a em:before {background:#d8d8d8;}
#top_layout.on .top_wrap .utile_wrap li.pc a {background: url(../images/common/menu.png)no-repeat center;}
#top_layout.on .top_wrap .utile_wrap li.login a,
#top_layout.on .top_wrap .utile_wrap li.logout a {color:#282828;}
#top_layout.on .top_wrap .utile_wrap li.login a span,
#top_layout.on .top_wrap .utile_wrap li.logout a span {background: url(../images/common/icon.png)no-repeat;}

#gnb_layout .depth1_ul>li>a span {color:#fff;}
#top_layout.on #gnb_layout .depth1_ul>li>a span {color:#282828;}
#top_layout.on #gnb_layout .depth1_ul>li>a:hover span,
#top_layout.on #gnb_layout .depth1_ul>li>a:focus span,
#top_layout.on #gnb_layout .depth1_ul>li>a.current span {color:#2ac279;}

#foot_layout{background:#f2f2f6;}
#foot_layout .footer-link ul li a {color:#282828;}
#foot_layout .footer-link ul li.on a {color:#2ac279; }
#foot_layout .footer-info .copy address,
#foot_layout .footer-info .copy p,
#foot_layout .footer-info .copy p span {color:#282828;}
#foot_layout .footer-info .copy .footlogo {background-image: url(../images/common/logo.png);}
#foot_layout .footer-info .info,
#foot_layout .footer-info .info strong {color:#282828;}

#foot_layout .footer-link ul {border-top:1px solid #dedede; border-bottom:1px solid #dedede; }
#foot_layout .footer-link ul li:after {background:#b8b8b8;}

#foot_layout .linksite_wrap .linksite {border:1px solid #dedede;}
#foot_layout .linksite_wrap .linksite > button {border-radius: 5px;background: #fff;color:#282828;}


@media(max-width:1200px){
  #top_layout .top_wrap .utile_wrap li.mo button {background: url(../images/common/menu2.png)no-repeat center;}
  #foot_layout .footer-link ul {border-bottom:none;}
  #foot_layout .footer-info:before {background:#dedede;}
}
@media(max-width:767px){
  #foot_layout .footer-link ul {padding:25px 0 0;}
  #foot_layout .footer-link ul li a {border: 1px solid #dedede; background:#fff;}
}

.clear:after {display:block; clear:both; visibility:hidden; content:'';}

.main-photo__skin,
.main-photo__skin .photo_list--wrap,
.main-photo__skin .photo_list--wrap .slick-list,
.main-photo__skin .photo_list--wrap .slick-list .slick-track,
.main-photo__skin .photo_list--wrap .slick-list .slick-track .slick-slide,
.main-photo__skin .photo_list--wrap .slick-list .slick-track .slick-slide >div,
.main-photo__skin .photo_list--wrap .slick-list .slick-track .slick-slide >div .photo_list--item {display:inline-block;width:100%;height:100%;vertical-align: top;}


/*#body_layout,*/
.cont1 {margin-bottom:-85px;}
.cont1 .main-visual { margin-top:-85px;}

.cont1 {width: 100%;height:975px;}
.cont1 .main-visual {overflow: hidden;position: relative;width:100%;height:100%;}
.cont1 .main-visual .photo_list--item {position:relative;padding: 350px 0 0;text-align: center;}
.cont1 .main-visual .photo_list--item.n1 {padding: 375px 0 0;}
.cont1 .main-visual .photo_list--item.n3 {text-align:left;}
.cont1 .main-visual .photo_list--item .bg {position:absolute;left:0;top:0;z-index:-1;width:100%;height:100%;background-repeat: no-repeat;background-size: cover;background-position: center;}
.cont1 .main-visual .slick-active .photo_list--item .bg{-webkit-animation: kenburns-bottom 6s ease-out both;animation: kenburns-bottom 6s ease-out both;}
.cont1 .main-visual .photo_list--item .infotxt {}
.cont1 .main-visual .photo_list--item .infotxt .title {}
.cont1 .main-visual .photo_list--item.n3 .infotxt .title {text-align:left;}
.cont1 .main-visual .photo_list--item .infotxt .title strong {display:block;opacity: 0;}
.cont1 .main-visual .photo_list--item .infotxt .title strong span {display:block;}
.cont1 .main-visual .slick-active .photo_list--item .infotxt .title strong {transition-timing-function: ease-in;-webkit-animation: ani_effect 1s;animation: ani_effect 1s;animation-fill-mode: forwards;animation-delay: 0.5s;}

.cont1 .main-visual .photo_list--item .infotxt .title strong span em {display:inline-block; position:relative; line-height: 1.1;color:#fff;font-size:60px;font-family: 'reschool';font-weight: bold; text-shadow:5px 5px 5px rgba(0,0,0,.2);}
.cont1 .main-visual .photo_list--item .infotxt .title strong span:first-child em:before{display:block;opacity: 0.65;position:absolute;left: -45px;top: -35px;z-index: -1;content:'';width: 73px;height: 73px;border-radius:50%;background:#1bc377;}
.cont1 .main-visual .photo_list--item .infotxt .title strong span:last-child em:after{display:block;position:absolute;right: -15px;bottom: 17px;content:'';width:10px;height:10px;border-radius:50%;background:#1bc377;}
.cont1 .main-visual .photo_list--item .infotxt .title p {opacity:0;margin:25px 0 0;}
.cont1 .main-visual .photo_list--item .infotxt .title p span {display:block;line-height: 1.4;font-size: 29px;color:rgba(255,255,255,.8);text-shadow: 5px 5px 5px rgba(0,0,0,.2);}
.cont1 .main-visual .slick-active .photo_list--item .infotxt .title p {transition-timing-function: ease-in;-webkit-animation: ani_effect 1s;animation: ani_effect 1s;animation-fill-mode: forwards;animation-delay: 0.5s;}
.cont1 .main-visual .photo_list--item .infotxt .morebtn {opacity:0;margin: 60px 0 0;text-align:center;}
.cont1 .main-visual .photo_list--item.n3 .infotxt .morebtn {text-align:left;}
.cont1 .main-visual .slick-active .photo_list--item .infotxt .morebtn {transition-timing-function: ease-in;-webkit-animation: ani_effect 1s;animation: ani_effect 1s;animation-fill-mode: forwards;animation-delay: 1s;}
.cont1 .main-visual .photo_list--item .infotxt .morebtn a {display:inline-block;width:205px;height:60px;line-height:58px;border:1px solid #fff;border-radius: 50px;font-size: 16px;color: #fff;transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;}
.cont1 .main-visual .photo_list--item.n3 .infotxt .morebtn a {text-align:center;}
.cont1 .main-visual .photo_list--item .infotxt .morebtn a:hover,
.cont1 .main-visual .photo_list--item .infotxt .morebtn a:focus {background-color: #1bc377;background-image: linear-gradient(45deg, #1bc377 0%, #11a3b5 55%, #1bc377 90%);background-position:100% 0;background-size:200% 200%;border: 1px solid transparent;font-weight:bold;}

.cont1 .main-visual .photo_list--item .searchbox {opacity:0;width:465px;margin: 60px auto 0;}
.cont1 .main-visual .photo_list--item.n3 .searchbox {margin:80px 0 0;}
.cont1 .main-visual .slick-active .photo_list--item .searchbox {transition-timing-function: ease-in;-webkit-animation: ani_effect 1s;animation: ani_effect 1s;animation-fill-mode: forwards;animation-delay: 1.5s;}
.cont1 .main-visual .photo_list--item .searchbox .searchwrap {position:relative;}
.cont1 .main-visual .photo_list--item .searchbox .searchwrap:after {display:block; clear:both; visibility:hidden; content:'';}
.cont1 .main-visual .photo_list--item .searchbox .searchwrap .search_form {float:left;width:calc(100% - 60px); }
.cont1 .main-visual .photo_list--item .searchbox .searchwrap .search_form input {width:100%;height:60px;line-height:60px;padding: 0 20px;color: #737373;font-size: 16px;}
.cont1 .main-visual .photo_list--item .searchbox .searchwrap .submit {float:right;width:60px;}
.cont1 .main-visual .photo_list--item .searchbox .searchwrap .submit input {width:100%;height:60px;line-height:60px;background: #1bc377 url(../images/main/search.png)no-repeat center;font-size: 0;}
.cont1 .main-visual .photo_list--item .searchbox .keyword {margin: 10px 0 0;text-align:center;}
.cont1 .main-visual .photo_list--item .searchbox .keyword strong {display:inline-block;line-height: 28px;margin-right: 20px;padding: 0 15px;border-radius: 30px;background: rgba(0,0,0,.4);font-size: 16px;color: #fff;}
.cont1 .main-visual .photo_list--item .searchbox .keyword a {display:inline-block;line-height: 28px;margin: 0 7px;font-size: 16px;color: #fff;}
.cont1 .main-visual .slick-dots {display:inline-block;}
.cont1 .main-visual .slick-dots li {display:inline-block; width:20px; height:20px;}
.cont1 .main-visual .slick-dots li button {width:100%; height:100%; background:url(../images/main/dotted.png)no-repeat -20px 0; font-size:0; }
.cont1 .main-visual .slick-dots li.slick-active button {background-position:0 0;}
.cont1 .main-visual .control button {font-size:0;}
.cont1 .main-visual .control button:focus {outline: 2px dotted #1bc377 !important;}

.cont1 .main-visual .control1 {display:block;position:absolute;left: 50%;bottom: 100px;margin-left: -620px;text-align: center;}
.cont1 .main-visual .control1 button[data-control="stop"]:before{width: 2px;height:10px;box-shadow: -3px 0 #fff, 3px 0 #fff;}
.cont1 .main-visual .control1 button[data-control="play"]:before{right: -5px;width: 0;height: 0;border-width: 7px 0 7px 10px;border-style: solid;border-color: transparent transparent transparent #fff;}
.cont1 .main-visual .control2 button {position:absolute; right:0; top:0;}
.cont1 .main-visual .control2 button:focus{outline: 2px dotted #1bc377 !important;}
.cont1 .main-visual .control2 button[data-control="prev"],
.cont1 .main-visual .control2 button[data-control="next"] {position:absolute;top:490px;width:70px;height:70px;border:1px solid #fff;border-radius:50%;background:url(../images/main/arr.png)no-repeat;}
.cont1 .main-visual .control2 button[data-control="prev"] {left:50%;margin-left:-800px;}
.cont1 .main-visual .control2 button[data-control="next"] {right:50%; margin-right:-800px; background-position:-70px 0;}
.cont1 .main-visual .control2 button:before,
.cont1 .main-visual .control2 button:after {display:none;}

.cont .title {position:relative;z-index: 10;text-align: center;}
.cont .title span {display:inline-block; margin:0 5px;}
.cont .title span em {display:inline-block;position: relative;line-height: 1.1;font-size:45px;font-weight:bold;color:#282828;}
.cont .title span.color_green em {color:#1bc377;}
.cont .title span.color_green em:before {display: inline-block;content:'';width:9px;height:9px;margin: -5px 2px 0 0;border-radius:50%;background:#1bc377;vertical-align: top;}
.contbox {overflow: hidden; position:relative;width: 100%;}
.contbox svg {position:absolute;left: 50%;top: -55px;z-index:1;width:1360px; height: 2834px; margin-left: -680px;}
.contbox svg .line1 {stroke-dasharray: 3960px;stroke-dashoffset: -3960px;}
.contbox svg.svg2,
.contbox svg.svg3,
.contbox svg.svg4 {display:none;}
.cont2 {overflow: hidden;position:relative;height: 940px;background:#f2f2f6;}
.cont2 .title {padding: 140px 0 0;}
.cont2 .title span {display:block;}
.cont2 .title span em {font-size:53px;}
.cont2 ul {width: 935px;margin: 50px auto 0;}
.cont2 ul:after {display:block; clear:both; visibility:hidden; content:'';}
.cont2 ul li {opacity: 0;position:absolute;z-index: 2;}
.cont2 ul li .num {position:absolute;width:57px;height:57px;}
.cont2 ul li.on .num:before {display:block;position:absolute;content:'';width:100%;height:100%;border-radius:50%;background:rgba(10,159,92,.6);transform:scale(1.3);-webkit-animation:circle 1.5s ease-in infinite;animation: circle 1.5s ease-in infinite;}
.cont2 ul li .num span {display:block;position:relative; z-index:1; width:100%;height:100%;line-height:57px;border-radius:50%;background:#0a9f5c;color:#fff;font-size:19px;font-weight:bold;text-align:center;text-shadow: 5px 5px 5px rgba(0,0,0,.2);}
.cont2 ul li strong {display:block;color:#282828;font-size:21px;font-weight:bold;letter-spacing: -0.09em;}
.cont2 ul li strong span {display:inline-block;color:#1bc377; font-weight:bold;}
.cont2 ul li p {font-size:17px;color:#282828;letter-spacing: -0.09em;}
.cont2 ul li.n1 {top: 36%;right:0;padding-right: 80px;text-align: right;} 
.cont2 ul li.n1 .num {right: -2%;}
.cont2 ul li.n2 {top: 68%;right: 6%;text-align:center;} 
.cont2 ul li.n2 .num {position: relative;margin: 0 auto 30px;}
.cont2 ul li.n3 {bottom: 7%;left: -0.5%;padding-left:85px;} 
.cont2 ul li.n3 .num {left:0;margin: 0 auto 30px;}
.cont2 ul li.on {transition-timing-function: ease-in;-webkit-animation: ani_effect 1s;animation: ani_effect 1s;animation-fill-mode: forwards; }
.cont2 ul li.n1.on {animation-delay:0.5s;}
.cont2 ul li.n2.on {animation-delay:0.8s;}
.cont2 ul li.n3.on {animation-delay: 1.8s;}
.cont2 .videobox {overflow: hidden;position:relative;z-index: 2;width: 678px;height: 390px;margin: 115px auto 0;padding: 10px;border-radius: 10px;background: #1bc377;background: linear-gradient(-45deg,#1bc377,#11a3b5);box-shadow: 10px 10px 15px rgba(0,0,0,.2);}
.cont2 .videobox .inner {position: relative;width: 100%;height: 100%;border-radius: 10px;background: url(../images/main/video.jpg)no-repeat center;background-size: cover;}
.cont2 .videobox .inner iframe {width:100%;height:100%;border: none;}
.cont2 .videobox .inner a {display:block; position: relative; width:100%; height:100%;}
.cont2 .videobox .inner a:after{display:block; position:absolute;  left:50%; top:50%; content:''; width:83px; height:83px; background: url(../images/main/play.png)no-repeat ; transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.cont2 .videobox .inner .tit {position:absolute;left:35px;bottom:35px;line-height: 0.7;color:#fff;font-size: 36px;font-weight: bold;font-family: 'reschool';}
.cont2 .videobox .inner .tit span{color:#1bc377;}

.cont3 {overflow: hidden;position:relative;height: 846px;background:#f2f2f6;}
.cont3 .title {padding: 65px 0 0;}
.cont3 .moveslide {display: block;position: relative;z-index: 1;margin: 60px auto 0;}
.cont3 .moveslide .slick-list {overflow:visible;}
.cont3 .moveslide .slick-slide {overflow: hidden;width: 970px;height:435px;margin:0 85px;border-radius: 10px;box-shadow:10px 10px 15px rgba(0,0,0,.2);}
.cont3 .moveslide .slick-slide > div {height:100%;}
.cont3 .moveslide .slick-slide .photo_list--item  {height:100%;}
.cont3 .moveslide .slick-slide .photo_list--item.n1 {background: #485899;}
.cont3 .moveslide .slick-slide .photo_list--item.n2 {background: #3d2b76;}
.cont3 .moveslide .slick-slide .photo_list--item.n3 {background: #5689ec;}
.cont3 .moveslide .slick-slide .photo_list--item.n4 {background: #1f6fc3;}
.cont3 .moveslide .slick-slide .photo_list--item .thumb {float:left;width:50%;height:100%;border-radius: 10px;background-position:center;background-size:cover;background-repeat:no-repeat;}
.cont3 .moveslide .slick-slide .photo_list--item .info {float:right;position: relative;width:50%;height:100%;padding:80px 65px 0;}
.cont3 .moveslide .slick-slide .photo_list--item.n1 .info {background: #485899;background: linear-gradient(-45deg,#21273d,#485899);}
.cont3 .moveslide .slick-slide .photo_list--item.n2 .info {background: #3d2b76;background: linear-gradient(-45deg,#6e57aa,#3d2b76);}
.cont3 .moveslide .slick-slide .photo_list--item.n3 .info {background: #5689ec;background: linear-gradient(-45deg,#3a52b0,#5689ec);}
.cont3 .moveslide .slick-slide .photo_list--item.n4 .info {background: #1f6fc3;background: linear-gradient(-45deg,#0d9eab,#1f6fc3);}
.cont3 .moveslide .slick-slide .photo_list--item .info strong {display:block;line-height:1.1;margin: 0 0 25px;font-size: 27px;font-weight:bold;color:#fff;}
.cont3 .moveslide .slick-slide .photo_list--item .info p {margin:0; font-size:16px; color:#fff;}
.cont3 .moveslide .slick-slide .photo_list--item .info a {display:block;position:absolute;left:65px;right:65px;bottom:65px;width:auto;height: 55px;line-height: 55px;border-radius: 5px;background:#1bc377;text-align:center;text-shadow: 2px 1px 2px rgba(0,0,0,.2);color: #fff;font-size: 16px;font-weight: bold;transition: all .5s ease-in-out;-webkit-transition: all .5s ease-in-out;}
.cont3 .moveslide .slick-slide .photo_list--item .info a span {display:inline-block;width:19px;height:13px;margin: 1px 0 0 10px;background:url(../images/main/arr2.png)no-repeat;vertical-align: middle;}
.cont3 .moveslide .slick-slide .photo_list--item .info a:hover,
.cont3 .moveslide .slick-slide .photo_list--item .info a:focus {background-color: #1bc377;background-image: linear-gradient(45deg, #1bc377 0%, #11a3b5 55%, #1bc377 90%);background-position: 100% 0;background-size: 200% 200%;}
.cont3 .moveslide .control {margin: 70px 0 0;text-align:center;}
.cont3 .moveslide .control .slick-dots {display:inline-block;}
.cont3 .moveslide .control .slick-dots li {display:inline-block; width:20px; height:20px;}
.cont3 .moveslide .control .slick-dots li button {width:100%; height:100%; background:url(../images/main/dotted.png)no-repeat -40px 0; font-size:0; }
.cont3 .moveslide .control .slick-dots li.slick-active button {background-position:0 0;}
.cont3 .moveslide .control button {font-size:0;}
.cont3 .moveslide .control button[data-control="stop"]:before{width: 2px;height:10px;box-shadow: -3px 0 #d6d6d6, 3px 0 #d6d6d6;}
.cont3 .moveslide .control button[data-control="play"]:before{right: -5px;width: 0;height: 0;border-width: 7px 0 7px 10px;border-style: solid;border-color: transparent transparent transparent #d6d6d6;}

.cont4 {position:relative;height: 938px;padding: 130px 0 0;background:#2a3354;}
.cont4:before {display:block; position:absolute; left:0; bottom:0; content:''; width:100%; height:145px; background:#f2f2f6; }
.cont4 .road {position:absolute;left:0;top: -130px;width:1240px;height:793px;background:url(../images/main/cont4_bg.png)no-repeat;}
.cont4 .title span em {color:#fff;}
.cont4 .title p {margin: 15px 0 0;font-size:18px;color:#fff;}
.cont4 .title p em {display: block;font-size:18px;color:#fff;}
.cont4 ul {position: relative;margin: 55px 0 80px;padding: 0 40px;}
.cont4 ul li {float:left; width:25%;text-align:center;}
.cont4 ul li .ico {width:90px; height:86px; margin:0 auto 20px; background:url(../images/main/icon_ir.png)no-repeat;}
.cont4 ul li .ico1 {background-position:0 0;}
.cont4 ul li .ico2 {background-position:-90px 0;}
.cont4 ul li .ico3 {background-position:-180px 0;}
.cont4 ul li .ico4 {background-position:-270px 0;}
.cont4 ul li strong {display:block;margin:0 0 10px;font-size: 21px;font-weight:bold;color:#fff;}
.cont4 ul li p {opacity:0.5;line-height:1.3;font-size: 18px;color:#fff;}
.cont4 ul li p span {display:block;}
.cont4 .obj {position: relative;z-index: 3;width:489px;height:309px;margin:0 auto;background:url(../images/main/note.png)no-repeat;}




@media(max-width:1700px){
  .cont1 .main-visual .control2 button[data-control="prev"]{left:40px; margin:0;}
  .cont1 .main-visual .control2 button[data-control="next"]{right:40px; margin:0;}
}
@media(max-width:1520px){
  .cont1 .main-visual .photo_list--item.n3,
  .cont1 .main-visual .photo_list--item.n3 .infotxt .title,
  .cont1 .main-visual .photo_list--item.n3 .infotxt .morebtn {text-align:center;}
  .cont1 .main-visual .photo_list--item.n3 .searchbox {margin:80px auto 0;}
}
@media(max-width:1319px){

  .cont1 .main-visual .photo_list--item .infotxt .title strong span em {font-size:55px;}
  .cont1 .main-visual .control1 {left:0; margin:0;}
  
  .contbox svg.svg1 {display:none;}
  .contbox svg.svg2 {display:block;top: 0;width:944px;height:1770px;margin-left: -472px;}
  .contbox svg.svg2 .line2 {stroke-dasharray: 3345px;stroke-dashoffset: -3345px;}
  
  .cont2 {padding: 0 0 115px;height:auto;}
  .cont2 .title {padding:90px 0 0;}
  .cont2 ul li.n1,
  .cont2 ul li.n2,
  .cont2 ul li.n3  {float:left; position:relative; left:auto; right:auto; top:auto; bottom:auto; width:33.33%; padding:0;  text-align:center;}
  .cont2 ul li.n1 .num,
  .cont2 ul li.n2 .num,
  .cont2 ul li.n3 .num {position:relative; left:auto; top:auto; right:auto; bottom:auto; margin:0 auto 20px; }
  .cont2 ul li.n3.on {animation-delay: 1.1s;}
  .cont2 .videobox {margin:65px auto 0;}

  .cont3 {height:auto;padding: 0 0 120px;}
  .cont3 .title {padding:0;}
  .cont3 .moveslide .slick-slide {width:944px;}
  .cont3 .moveslide .control {margin:65px 0 0;}
  
  .cont4 {height: 1150px;padding:115px 0 0;}
  .cont4:before {z-index: 2;height: 230px;}
  .cont4 .road {position:absolute;left:50%;top: -115px;width:944px;height:923px;margin-left: -469px;background:url(../images/main/cont4_bg2.png)no-repeat;}
  .cont4 ul {width: 680px;margin: 30px auto 50px;padding: 0;}
  .cont4 ul li {width:50%;margin: 25px 0;}

}

@media(max-width:1023px){
  .cont1 .main-visual .photo_list--item .infotxt .title strong span em {font-size:42px;}
  .cont1 .main-visual .photo_list--item .infotxt .title strong span:first-child em:before {left: -34px;top: -25px;width:53px;height:53px;}
  .cont1 .main-visual .photo_list--item .infotxt .title strong span:last-child em:after{right: -11px;bottom: 13px;width:7px;height:7px;}
  .cont1 .main-visual .photo_list--item .infotxt .title p {margin:75px 0 0;}
  .cont1 .main-visual .photo_list--item .infotxt .title p span {font-size:20px;}
  .cont1 .main-visual .control2 button[data-control="prev"],
  .cont1 .main-visual .control2 button[data-control="next"] {width:55px; height:55px;background-size:auto 55px;; }
  .cont1 .main-visual .control2 button[data-control="next"] {background-position:-55px 0;}
  
  .contbox svg.svg2 {display:none;}
  .contbox svg.svg3 {display:block; top:0; width:688px; height:1707px; margin-left:-344px;}
  .contbox svg.svg3 .line3 {stroke-dasharray: 2800px;stroke-dashoffset: -2800px;}
  
  .cont .title span em,
  .cont2 .title span em {font-size:40px;}
  
  .cont2 .title {padding:115px 0 0;}
  .cont2 ul {width: 635px;margin: 50px auto 0;}

  .cont3 .moveslide .slick-slide {width:688px;height: 370px;}
  .cont3 .moveslide .slick-slide .photo_list--item .info {padding:45px 30px 0;}
  .cont3 .moveslide .slick-slide .photo_list--item .info a {left:30px;right:30px;bottom: 25px;height: 50px;line-height: 50px;}
  .cont3 .moveslide .control {margin:45px 0 0;}
  
  .cont4 .road {width:688px;margin-left: -343px;background:url(../images/main/cont4_bg3.png)no-repeat;}
}

@media(max-width:767px){
  
  .cont1 {height: 650px;}
  .cont1 .main-visual {/* margin:0; */}
  .cont1 .main-visual .photo_list--item {padding:265px 0 0;}
  .cont1 .main-visual .photo_list--item .layout {/* padding:0 20px; */}
  .cont1 .main-visual .photo_list--item.n1 {padding:300px 0 0;}
  .cont1 .main-visual .photo_list--item .infotxt .title strong span:first-child em:before {left: -22px;top: -16px;width:33px;height:33px;}
  .cont1 .main-visual .photo_list--item .infotxt .title strong span:last-child em:after{right: -5px;bottom:5px;width:4px;height:4px;}
  .cont1 .main-visual .photo_list--item .infotxt .title strong span em {font-size:27px;}
  .cont1 .main-visual .photo_list--item .infotxt .title p {margin:15px 0 0;}
  .cont1 .main-visual .photo_list--item .infotxt .title p span {font-size:16px;}
  .cont1 .main-visual .photo_list--item .infotxt .morebtn {margin:25px 0 0; }
  .cont1 .main-visual .photo_list--item .infotxt .morebtn a {width:145px;height:42px;line-height:40px;font-size: 15px;}
  .cont1 .main-visual .photo_list--item .searchbox {width:100%;max-width: 385px;margin: 55px auto 0;}
  .cont1 .main-visual .photo_list--item.n3 .searchbox {margin:55px auto 0;}
  .cont1 .main-visual .photo_list--item .searchbox .searchwrap .search_form {width:calc(100% - 50px); }
  .cont1 .main-visual .photo_list--item .searchbox .searchwrap .search_form input {height:50px;line-height:50px;font-size: 15px;}
  .cont1 .main-visual .photo_list--item .searchbox .searchwrap .submit {width:50px;}
  .cont1 .main-visual .photo_list--item .searchbox .searchwrap .submit input {height:50px;line-height: 50px;background-size: 25px auto;}
  .cont1 .main-visual .photo_list--item .searchbox .keyword strong {padding:0 10px;font-size: 15px;}
  .cont1 .main-visual .photo_list--item .searchbox .keyword a {font-size:15px;}
  .cont1 .main-visual .photo_list--item .searchbox .keyword a:nth-child(3),
  .cont1 .main-visual .photo_list--item .searchbox .keyword a:nth-child(4) {/* display:none; */}
  .cont1 .main-visual .control2 button[data-control="prev"], .cont1 .main-visual .control2 button[data-control="next"] {display:none !important;}
  .cont1 .main-visual .control1 {bottom: 40px;}
  
  .contbox svg.svg3 {display:none;}
  .contbox svg.svg4 {display:block;top: 0;width: 46px;height: 1002px;margin-left: -23px;}
  .contbox svg.svg4 .line4 {stroke-dasharray: 1700px;stroke-dashoffset: -1700px;} 
  .contbox svg.svg4.svgon .line4 {stroke-dashoffset: 0px !important; }
  .cont3 .title span {display:inline;}
  .cont .title span em, .cont2 .title span em {display: inline;font-size:25px;}
  
  .cont2 {overflow: hidden;padding: 0 0 85px;background:#fff;}
  .cont2 .title {padding:85px 0 0;}
  .cont2 ul {width:100%;margin: 393px auto 0;}
  .cont2 ul li {float:none;/* opacity: 1; */width:100%;}
  .cont2 ul li.n1, .cont2 ul li.n2, .cont2 ul li.n3 {float:none;width:100%;margin: 30px 0;}
  .cont2 ul li.n3 {margin:30px 0 0;}
  .cont2 ul li .num:before {display:block;position:absolute;content:'';width:100%;height:100%;border-radius:50%;background:rgba(10,159,92,.6);transform:scale(1.3);-webkit-animation:circle 1.5s ease-in infinite;animation: circle 1.5s ease-in infinite;}
  .cont2 ul li strong {font-size:18px;}
  .cont2 ul li p {font-size:15px;}
  .cont2 ul li .num {width:45px; height:45px; }
  .cont2 ul li.n1 .num, .cont2 ul li.n2 .num, .cont2 ul li.n3 .num {margin:0 auto 10px;}
  .cont2 ul li .num span {line-height:45px; font-size:16px;}
  .cont2 ul li.n1.on {animation-delay:1s;}
  .cont2 ul li.n2.on {animation-delay:1.5s;}
  .cont2 ul li.n3.on {animation-delay:2s;}
  
  .cont2 .videobox {position: absolute;top: 120px;left: 50%;width:500px;height: 290px;margin-left: -250px;}
  .cont2 .videobox .inner a:after {width:50px; height:50px; background-size:50px auto;}
  .cont2 .videobox .inner .tit {font-size:20px;}

  .cont3 {padding:70px 0;}
  .cont3 .moveslide {margin:35px auto 0;}
  .cont3 .moveslide .slick-slide {width:500px;height: 450px;margin: 0 30px;}
  .cont3 .moveslide .slick-slide .photo_list--item .thumb {float:none;width:100%;height: 185px;}
  .cont3 .moveslide .slick-slide .photo_list--item .info {float:none;width:100%;height: 265px;padding:25px 25px 0;}
  .cont3 .moveslide .slick-slide .photo_list--item .info strong {margin: 0 0 15px;font-size:18px;}
  .cont3 .moveslide .slick-slide .photo_list--item .info p {font-size:15px;}
  
  .cont4 {height: auto;padding: 70px 0;}
  .cont4:before {height: 144px;}
  .cont4 .title p,
  .cont4 .title p em {display:inline-block;font-size:16px;}
  .cont4 .road {display:none;}
  .cont4 ul {width:100%;}
  .cont4 ul li strong {margin:0 0 5px;font-size: 18px;}
  .cont4 ul li p {font-size:15px;}
  .cont4 ul li .ico {width:70px; height:67px; background-size:280px 67px;}
  .cont4 ul li .ico2 {background-position:-70px 0;}
  .cont4 ul li .ico3 {background-position:-140px 0;}
  .cont4 ul li .ico4 {background-position:-210px 0;}
  .cont4 .obj {width:350px;height: 220px;background-size:350px auto;}
  

}  


@media(max-width:580px){
  .cont2 ul {margin: 293px auto 0;}
  .cont2 .videobox {top: 125px;width: 340px;height:200px;margin-left: -170px;}
  .cont2 .videobox .inner .tit {left:20px; bottom:20px;}

  .cont3 .moveslide .slick-slide {width: 300px;margin: 0 20px;}
  .cont3 .moveslide .slick-slide .photo_list--item .info p {display:block;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;height: 96px;text-overflow: ellipsis;white-space: normal;}
  
  .cont4 ul li {float:none; width:100%;}
}

@media(max-width:480px){
  .cont1 .main-visual .photo_list--item .infotxt .title strong span,
  .cont1 .main-visual .photo_list--item .infotxt .title strong span em {display:inline;}
  .cont1 .main-visual .photo_list--item.n2 .infotxt .title strong span:last-child em {display:inline-block;}
  .cont1 .main-visual .photo_list--item .infotxt .title p span {display:inline;}
  .cont1 .main-visual .photo_list--item .searchbox,
  .cont1 .main-visual .photo_list--item.n3 .searchbox {margin:25px auto 0;}
  
  .cont2 ul {margin: 280px auto 0;}
  .cont2 .videobox {width: 278px;height: 165px;margin-left: -139px;}
  .cont2 .videobox .inner .tit {left:15px; bottom:15px; font-size:18px;}
  .cont3 .moveslide .slick-slide {width:260px;}
  .cont4:before {height: 121px;}
  .cont4 .obj {width:260px;height: 160px;background-size:260px auto;}
}


#op_layout {position: relative;z-index: 9999;height:0;text-align: center;}
#op_layout.on {display:block; height:130px;background:#009eac;}
#op_layout .title_box {display:none;}
#op_layout.on .title_box {display:block;}
#op_layout .title_box strong {display:block;position:absolute;left:40px;top:50%;padding-left:35px;margin-top: -14px;background:url(../images/main/pop2.png)no-repeat;font-size:18px;font-weight:bold;color:#fff;}
#op_layout .btn_open {position:absolute;right: 230px;bottom: -54px;z-index: 999;}
#op_layout .btn_open a {display:block; }
#op_layout .btn_open a span {display:block;padding-left:25px;background:url(../images/main/pop3.png)no-repeat left center;font-size: 15px;color:#fff;}
.gnbon #op_layout .btn_open a span {background:url(../images/main/pop4.png)no-repeat left center;color:#282828;}
#op_layout .op_wrap {overflow: hidden;display:none;width: 1320px;/* height:130px; */margin: 0 auto;}
#op_layout.on .op_wrap {display:block;}
#op_layout .op_wrap .sliderBox {display:none;overflow: hidden;position: relative;width: 100%;height: 131px !important;margin:0 auto;background: url(../images/main/pop1.png)no-repeat left bottom;}
#op_layout.on .op_wrap .sliderBox {display:block;}
#op_layout .op_wrap .sliderBox ul {overflow: hidden;position:relative;width: 100%;height: 100%;}
#op_layout .op_wrap .sliderBox ul li {display: none;overflow: hidden;position:relative;height: 100%;padding: 0 275px;}
#op_layout .op_wrap .sliderBox ul li.on {display:block;}
#op_layout .op_wrap .sliderBox ul li a {position: relative;display:block;width:100%;height: 100%;}
#op_layout .op_wrap .sliderBox ul li strong {display:block;overflow: hidden;position: relative;line-height:130px;padding-right: 135px;color:#fff;font-size:19px;text-overflow: ellipsis;white-space: nowrap;} 
#op_layout .op_wrap .sliderBox ul li strong b {display:inline-block; font-weight:bold; margin-right:20px;}
#op_layout .op_wrap .sliderBox ul li span {display:block;position:absolute;right:0;top: 47.5px;width: 110px;height: 35px;line-height: 38px;border-radius: 50px;background: #006b75;text-align: center;color: #fff;font-size: 14px;}
#op_layout .op_wrap .controlBox {display:none;position: absolute;right: 50%;top: 45px;z-index: 99;margin-right: -655px;}
#op_layout.on .op_wrap .controlBox {display:block;}
#op_layout .op_wrap .controlBox .pageCount {display:inline-block;margin-right:10px; font-size:14px; color:#fff;}
#op_layout .op_wrap .controlBox .pageCount span {display:inline-block; margin:0 2px;font-size:14px; color:#fff; }
#op_layout .op_wrap .controlBox .pageCount span.num {font-weight:bold;}
#op_layout .op_wrap .controlBox button {overflow: hidden;position:relative;display:inline-block;width:35px;height:35px; border:1px solid #fff; border-radius:50%; vertical-align:middle; font-size:0;}
#op_layout .op_wrap .controlBox button:before,
#op_layout .op_wrap .controlBox button:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
#op_layout .op_wrap .controlBox button.btn_prev:before,
#op_layout .op_wrap .controlBox button.btn_next:before{width:10px;height:10px;border-width:2px;border-style: solid;border-color: #fff;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
#op_layout .op_wrap .controlBox button.btn_prev:before{top:5px; border-width: 1px 0 0 1px;}
#op_layout .op_wrap .controlBox button.btn_next:before{bottom:5px; border-width: 0 1px 1px 0;;}
#op_layout .popbtnbox {display:none;position:absolute;right:40px;top: 54px;z-index: 99;}
#op_layout.on .popbtnbox {display:block;}
#op_layout .never {display:inline-block;}
#op_layout .never input {display: inline-block;width:18px;height:18px;margin: 0 5px 0 0;vertical-align: middle;}
#op_layout .never label {margin: 0;font-size:14px;color:#fff;vertical-align: middle;}
#op_layout .never label span {}
#op_layout .btn_close {display:inline-block;vertical-align: middle;}
#op_layout .btn_close a {display: block;opacity:1;position:relative;width: 20px;height: 20px;margin: 0 0 0 10px;vertical-align: middle;font-size:0;}
#op_layout .btn_close a:before,
#op_layout .btn_close a:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
#op_layout .btn_close a:before {width:100%;height: 1px;background: #fff;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
#op_layout .btn_close a:after {width: 1px;height:100%;background: #fff;transform: rotate(45deg);-webkit-transform: rotate(45deg);}

@media(max-width:1750px){
  .popupon #gnb_layout .depth1_ul>li>a {padding: 0 30px;}

  #op_layout .op_wrap .controlBox {margin-right: -520px;}
  #op_layout.on .title_box {display:none;}
}

@media(max-width:1500px){
  #op_layout .btn_open {right:165px;}
  #op_layout .btn_open a span {min-height: 24px;font-size:0;}
  #op_layout .popbtnbox {top:auto;bottom: 15px;}

  #op_layout .op_wrap {width:100%;}
  #op_layout .op_wrap .sliderBox {background-position: 30px bottom;background-size: 210px auto;}
  #op_layout .op_wrap .sliderBox ul li {padding: 0 205px 0 275px;}
  #op_layout .op_wrap .sliderBox ul li strong {line-height:1.5;margin: 20px 0 0;padding: 0;text-align:left;}
  #op_layout .op_wrap .sliderBox ul li strong b {display:block;margin: 0;}
  #op_layout .op_wrap .sliderBox ul li span {position:static;width: 95px;height: 30px;line-height: 30px;margin: 5px 0 0;}
  #op_layout .op_wrap .controlBox {right:40px; margin:0}
  
  .popupon #top_layout .top_wrap .utile_wrap li.login a, 
  .popupon #top_layout .top_wrap .utile_wrap li.logout a {font-size:0;}
}

@media(max-width:1319px){
  #op_layout .btn_open {right:125px;}
  .popupon #gnb_layout .depth1_ul>li>a {padding:0 20px;}
}


@media(max-width:1023px){
  #op_layout .btn_open {right:95px;}
  #op_layout .op_wrap .sliderBox {background:none;}
  #op_layout .op_wrap .sliderBox ul li {padding: 0 155px 0 30px;}
  #op_layout .op_wrap .sliderBox ul li strong {margin: 20px 0 10px;font-size:16px;}
  #op_layout .op_wrap .sliderBox ul li strong b {margin:0 0 5px;}
  #op_layout .op_wrap .controlBox {right:30px;}
  #op_layout .popbtnbox {right:30px;}
}

@media(max-width:580px){
  #op_layout.on {height:175px;}
  #op_layout .op_wrap .sliderBox ul li {padding:0 30px;}
  #op_layout .op_wrap .sliderBox ul li strong {margin: 20px 0 15px;}
  #op_layout .op_wrap .controlBox {top:auto; bottom:55px;}
  #op_layout .popbtnbox {right:50%; margin-right:-85px;}
}

 