@charset "utf-8";



 
@font-face {
   font-family: 'Spoqa Han Sans';
   font-style: normal;
   font-weight: 400;
   src: url(/pcms/common/font/spoqahansans/SpoqaHanSans-Regular.woff2) format('woff2'),
        url(/pcms/common/font/spoqahansans/SpoqaHanSans-Regular.woff) format('woff');
 }
@font-face {
   font-family: 'Spoqa Han Sans';
   font-style: normal;
   font-weight: 600;
   src: url(/pcms/common/font/spoqahansans/SpoqaHanSans-Bold.woff2) format('woff2'),
        url(/pcms/common/font/spoqahansans/SpoqaHanSans-Bold.woff) format('woff');
 }
 
.shs{font-family: 'Spoqa Han Sans' , 'shs', 'Spoqa Han Sans EOT', SimHei, Sans-serif;font-weight: 400;}