@charset "utf-8";

.layout {position:relative; width:100%; max-width:1400px; margin:0 auto; }
.clear {clear:none;}
.layout:after,
.clear:after {display: block;clear: both;visibility: hidden;content: '';}

#top_layout {position:relative; height:85px; border-bottom:1px solid #e9e9e9;}
#top_layout.on {z-index:999;}
#top_layout .top_wrap {}
#top_layout .top_wrap #logo {float:left; position:relative; z-index:3; margin:27.5px 0 0 30px;}
#top_layout .top_wrap #logo a {display:block;width:195px; height:30px; background-image:url(../../../template/A/images/logo.png); background-image:url(../../../template/A/images/logo.svg); background-size:100% auto; font-size:0;}
#top_layout .top_wrap .utile_wrap {float:right; position:relative; z-index:3; }
#top_layout .top_wrap .utile_wrap li {float:left; position:relative; margin:0 12px;}
#top_layout .top_wrap .utile_wrap li a {display:block;line-height:85px;font-size:14px;font-family: 'nsr','gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움';color:#7c7b7b;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen {position:relative;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen button {font-family: 'nsr','gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움';}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > button {display:block;width:100%;line-height: 85px;font-size:14px; color:#7c7b7b;text-align:center;transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > button:after {display:inline-block; margin:0 0 0 5px;border-left:4px solid transparent;border-right: 4px solid transparent;border-top:4px solid #97999c;content:''; vertical-align:middle;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div {display:none;position:absolute;top: 0;z-index: 3;width:100%;background: #fff;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen.on > div {display:block;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div > button{display:block;position: absolute;width:100%;top: 34px;left:0;background: #fff;font-size:14px;color:#7c7b7b;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div > button:after {display:inline-block;margin:0 0 0 5px;border-left:4px solid transparent;border-right: 4px solid transparent;border-bottom: 4px solid #97999c;content:'';vertical-align:middle;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div .inner {position: absolute;left: 50%;top: 60px;width: 70px;margin-left: -35px;border: 1px solid #e3e3e3;background: #fff;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div .inner span {display:block;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div .inner span a {display:block;width:100%;line-height: 1.2;margin: 10px 0;font-size:14px;color: #7c7b7b;text-align: center;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div .inner span:last-child a {border:none;}
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div .inner span a:hover,
#top_layout .top_wrap .utile_wrap li.lang .clickOpen > div .inner span a:focus {}
#top_layout .top_wrap .utile_wrap li.search {margin: 0 35px 0 15px;}
#top_layout .top_wrap .utile_wrap li.search a {display:block;width: 21px;height: 100%;background: url(../../../template/A/images/search.png)no-repeat center;font-size: 0;vertical-align: top;}
#top_layout .top_wrap .utile_wrap li.search svg {fill:#000;}

#top_layout .top_wrap .utile_wrap li.search {height:100%;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen {height:100%;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > button {display:block;width: 21px;height: 85px;background: url(../../../template/A/images/search.png)no-repeat center;font-size: 0;vertical-align: top;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner {display:none;position:fixed;z-index: 999;left:0;top: 85px;width:100%;height: auto;background: #f9f9f9;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen.on > .inner {display:block;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner form {top: 29%;width: 100%;padding: 40px 20px 75px;text-align:center;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner strong {display:block;margin: 0 0 15px;font-size: 24px;font-family: 'gmarket';font-weight: normal;color: #303030;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner strong span {display:inline-block;width: 21px;height: 21px;margin: -3px 15px 0 0;background: url(../../../template/A/images/search.png)no-repeat center;vertical-align: middle;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner {position:relative;width: 100%; max-width:585px; margin: 0 auto;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner #search_input_m {display:inline-block;width: calc(100% - 113px);height: 45px;line-height: 45px;padding: 0 25px;border: 1px solid #c2c2c2;background: #fff;color: #303030;font-size: 15px;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner #search_input_m::placeholder {color: #c9c9c9;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner .submit {display:inline-block; }
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner .submit input {width:107px; height:45px; line-height:45px;border:none;  background:#006940; color:#fff; font-size:15px; font-weight:bold; }
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose {display:block;position:absolute;right: 135px;top: -54px;width: 22px;height: 22px;background:#fff;font-size: 0;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose:before,
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose:before {width:100%;height: 2px;background: #000000;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
#top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose:after {width: 2px;height:100%;background: #000000;transform: rotate(45deg);-webkit-transform: rotate(45deg);}

body.searchon {overflow:hidden; height:100%;}
body.searchon:before {display:block; position:absolute; top:85px; bottom:0; z-index:3; content:''; width:100%; height:auto; background:rgba(0,0,0,.8); }
body.searchon #top_layout  {z-index:999;}

#top_layout .top_wrap .utile_wrap li.box {width:100px; height:85px; margin:0;background:#006940; }
#top_layout .top_wrap .utile_wrap li.box.mo {display:none;}
#top_layout .top_wrap .utile_wrap li.box a,
#top_layout .top_wrap .utile_wrap li.box button {width: 100%;height: 100%;background: url(../../../template/A/images/menu.png)no-repeat center;text-align: center;font-size:0;}
#top_layout .top_wrap .utile_wrap li.box svg {width:23px;height:23px;margin: 0 auto;fill: #fff;vertical-align: middle;}



#gnb_layout{display: block !important;overflow:hidden;position:absolute;top: 0;left: 0;width: 100%;min-height:100px;transition: all 0.1s ease-out;-webkit-transition: all 0.1s ease-out;}
#gnb_layout:after{top:85px}
#gnb_layout.open{}
#gnb_layout.open:after{position: absolute;top: 85px;bottom: 0;right:0;width: 100%;height:auto;border-bottom:3px solid #006940;background:#fff url(../../../template/A/images/gnb_bg.png)no-repeat left bottom;content:"";}
#gnb_layout.open:before{}
#gnb {position: absolute;top:0px;left: 0;width: 100%;height:85px;z-index:2;}
#gnb_layout.action{position:relative;background-color:#fff;}
#gnb_layout .layout{position:relative;height: 100%;text-align: center;}
#gnb_layout .depth1_ul{display:inline-block;height:100%;z-index:14;}
#gnb_layout .depth1_ul:after {display: block; content: ''; clear: both;}
#gnb_layout .depth1_ul>li{display:inline-block;height:100%;margin: 0 -2px;vertical-align:top;}
#gnb_layout .depth1_ul>li>a{position:relative;display:block;height:100%;padding: 0 25px;text-align:center;}
#gnb_layout .depth1_ul>li:not(:last-child)>a:after {display:block; position:absolute; right:0; top:50%; content:''; width:5px; height:5px; margin-top:-2.5px;border-radius:50%; background:#e3e3e3; }
#gnb_layout .depth1_ul>li>a.current{}
#gnb_layout .depth1_ul>li>a.current span {}
#gnb_layout .depth1_ul>li>a.current + .item{opacity: 1;display: block}
#gnb_layout .depth1_ul>li>a span{display: inline-block;position: relative;height: 100%;line-height: 85px;padding: 0 10px;font-size: 18px;font-weight: 700;font-family: 'nsr','gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움';color: #222222;vertical-align: middle;}
#gnb_layout .depth1_ul>li>a.current span {color:#006940;}
#gnb_layout .depth1_ul>li.sitemap>a span em {display:inline-block;width: 15px;height: 11px;margin: -2px 8px 0 0;background: url(../../../template/A/images/menu.png)no-repeat;background-size: 15px 11px;vertical-align:middle;}
#gnb_layout .depth1_ul>li>a[target="_blank"] span:after {display:inline-block;width: 18px;height: 12px;margin: -2px 0 0 5px;background: url(../../../template/A/images/target.png) no-repeat;border: 0;transform: none;content:'';vertical-align:middle;}
#gnb_layout .depth1_ul>li>a span:before{display:block;opacity:0;position:absolute;left: 0;bottom: 0;content:'';width: 100%;height: 3px;background: #006940;transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;}
#gnb_layout .depth1_ul>li>a.current span:before,
#gnb_layout .depth1_ul>li.on>a span:before {opacity:1;}

#gnb_layout .depth1_ul > li .item{display: none;position:absolute;top: 85px;left: 0;z-index: 100;width: 100%;margin: 0;padding: 0 400px 0 200px;text-align: left;}
#gnb_layout .depth1_ul > li .item .gnb-title {position:absolute;top:0;left: 0;bottom: 5px;height: auto;padding: 40px 20px 0;width: 200px;text-align: left;}
#gnb_layout .depth1_ul > li .item .gnb-title:before {display:block;position:absolute;top: 0;bottom:3px;right: 0;content:'';width:1px;height:auto;background:#ddd;}
#gnb_layout .depth1_ul > li .item .gnb-title strong{display:inline-block;position: relative;z-index: 1;line-height: 1.1;font-size: 34px;font-weight: bold;font-family: 'gmarket';color: #101010;}
#gnb_layout .depth1_ul > li .item .gnb-title strong:before {position:absolute; right:0; top:0; width:9px; height:9px; border-radius:50%; background:#006940 }
#gnb_layout .depth1_ul > li .item .gnb-title p{display:block;position: relative;z-index: 1;width:100%;padding:0;margin: 15px 0 0;font-size:15px;font-family: 'nsr','gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움';color: #747474;}
#gnb_layout .depth1_ul > li .item .gnb-depth {position:relative;height:100%;min-height: 243px;}
#gnb_layout .depth1_ul > li .item .depth2_ul{float:left;position: relative;top: 0;height: 100% !important;min-height: 500px;width: 100%;padding: 40px 0 35px;text-align:  left;}
#gnb_layout .depth1_ul > li .item .depth2_ul:before {display:block;position:absolute;top: 0;bottom: 8px;left: 33.33%;content:'';width:1px;height:auto;background:#ddd;}
#gnb_layout .depth1_ul > li .item .depth2_ul:after {display:block;position:absolute;top: 0;bottom: 8px;left: 66.66%;content:'';width:1px;height:auto;background:#ddd;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li{display: block;float: left;position:relative;width: 33.33%;padding: 0 30px 30px;margin: 0;text-align: left;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a{display:block;position: relative;vertical-align: top;transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a span {display: inline-block;position: relative;color: #222222;font-size: 18px;font-weight: 700;font-family: 'nsr','gothic','Malgun Gothic','맑은 고딕',Dotum,'돋움';vertical-align: top;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a.on span,
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a:hover span,
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a:focus span {color:#006940;}
#gnb_layout .depth1_ul > li .depth2_ul > li > a[target="_blank"]:after {display:inline-block;top: 18px;width:18px;height:12px;margin:-2px 0 0 5px;border:none;background:url(../../../template/A/images/target.png)no-repeat;content:'';vertical-align:middle;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a.on[target="_blank"]:before,
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a[target="_blank"]:hover:before,
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a[target="_blank"]:focus:before {background-position:0 0;}
#gnb_layout .depth3_ul {display:block !important;padding: 0;margin: 10px 0 0;}
#gnb_layout .depth3_ul > li {position:relative;margin: 0;}
#gnb_layout .depth3_ul > li > a {display:block;position:relative;padding-left: 10px;width:100%;}
#gnb_layout .depth3_ul > li > a:before {display:block;position:absolute;left:0;top: 12px;content:'';width: 3px;height: 3px;border-radius:50%;background:#747474;}
#gnb_layout .depth3_ul > li > a > span {display:inline-block;position: relative;font-size:15px;color: #666;}
#gnb_layout .depth3_ul > li > a:hover > span,
#gnb_layout .depth3_ul > li > a:focus > span {color:#006940;}
#gnb_layout .depth3_ul > li > a[target="_blank"] > span:after {display:inline-block;width:18px;height:12px;margin:-2px 0 0 5px;background:url(../../../template/A/images/target.png)no-repeat;content:'';vertical-align:middle;}
#gnb_layout .depth3_ul > li > a:hover:before,
#gnb_layout .depth3_ul > li > a:focus:before {background:#006940;}

#gnb_layout .depth1_ul>li.n1 .depth3_ul {display: none !important;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li > a span {font-size:15px; color:#747474; }
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li > a span:before {display:inline-block;content:''; width:57px; height:57px; margin:0 10px 0 0; border-radius:50%; border:2px solid #ececec; background:url(../../../template/A/images/ico_ir3.png)no-repeat;  vertical-align:middle; transition:all 0.3s; -webkit-transition:all 0.3s; }
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(1) > a span:before {background-position:0 0;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(2) > a span:before {background-position:-57px 0;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(3) > a span:before {background-position:-114px 0;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(4) > a span:before {background-position:0 -57px;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(5) > a span:before {background-position:-57px -57px;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(6) > a span:before {background-position:-114px -57px;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(7) > a span:before {background-position:0 -114px;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(8) > a span:before {background-position:-57px -114px;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li:nth-child(9) > a span:before {background-position:-114px -114px;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li > a:hover span,
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li > a:focus span {color:#006940;}
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li > a:hover span:before,
#gnb_layout .depth1_ul>li.n1 .item .depth2_ul > li > a:focus span:before {border-color:#006940;}

#gnb_layout .depth1_ul > li .item .depth2_ul > li.n2_2,
#gnb_layout .depth1_ul > li .item .depth2_ul > li.n2_3,
#gnb_layout .depth1_ul > li .item .depth2_ul > li.n4_1,
#gnb_layout .depth1_ul > li .item .depth2_ul > li.n4_2,
#gnb_layout .depth1_ul > li .item .depth2_ul > li.n4_3 {min-height:225px;}


#gnb_layout .gnb_menu {position: absolute;z-index: -1;top: 0;right: 0;width: 400px;height:100%; padding: 40px 30px 0;}
#gnb_layout .gnb_menu:before {display:block; position:absolute; left:0; top:0; bottom:8px; content:''; width:1px; height:auto; background:#ddd; }
#gnb_layout .gnb_menu .linkimg {}
#gnb_layout .gnb_menu .linkimg a {display:block; width: 100%;}
#gnb_layout .gnb_menu .linklist {margin:35px 0 0; }
#gnb_layout .gnb_menu .linklist li {float:left; position:relative; width:33.33%;}
#gnb_layout .gnb_menu .linklist li:not(:last-child):before {display:block; position:absolute; top:5px; right:0;content:''; width:1px; height:60px; background:#e4e9e7; }
#gnb_layout .gnb_menu .linklist li a {display:block; text-align:center; font-size:16px; color:#555555; }
#gnb_layout .gnb_menu .linklist li .ico {display:block; margin:0 auto 15px; width:60px; height:60px; background:url(../../../template/A/images/ico_ir2.png)no-repeat; }
#gnb_layout .gnb_menu .linklist li .ico2 {background-position:-60px 0;}
#gnb_layout .gnb_menu .linklist li .ico3 {background-position:-120px 0;}
#gnb_layout .gnb_menu .linklist li .ico4 {background-position:0 -60px;}
#gnb_layout .gnb_menu .linklist li .ico5 {background-position:-60px -60px;}
#gnb_layout .gnb_menu .linklist li .ico6 {background-position:-120px -60px;}
#gnb_layout .gnb_menu .title {text-align:center;}
#gnb_layout .gnb_menu .title strong {display:block; font-size:24px; font-weight:bold; font-family:'nsr'; }
#gnb_layout .gnb_menu .title strong span {color:#006940; }
#gnb_layout .gnb_menu .title p {display:block; font-size:16px; font-family:'nsr'; color:#777777; }
#gnb_layout .gnb_menu .title .linkbtn {margin:20px 0; }
#gnb_layout .gnb_menu .title .linkbtn ul {margin:0 -5px;}
#gnb_layout .gnb_menu .title .linkbtn ul li {float:left; width:calc(50% - 10px); margin:0 5px;}
#gnb_layout .gnb_menu .title .linkbtn ul li a {display:block; line-height:50px; border:1px solid #cdcdcd; font-size:15px; font-family:'nsr'; font-weight:bold; color:#747474; }
#gnb_layout .gnb_menu .title .linkbtn ul li:nth-child(1) a {border:1px solid #006940; background:#006940; color:#fff; }
#gnb_layout .gnb_menu .call {position:relative;min-height: 46px;margin:20px 0 0;padding-left:55px;background:url(../../../template/A/images/call.png)no-repeat left center;}
#gnb_layout .gnb_menu .call .tit {display:inline-block;line-height:1.3;margin: 4px 0 0;font-size:16px;font-family:'gmarket';color:#000000;vertical-align:top;}
#gnb_layout .gnb_menu .call .number {display:inline-block;margin: 5px 5px 0 5px;vertical-align:top;text-align: center;}
#gnb_layout .gnb_menu .call .number strong {display:block; line-height:1; font-size:24px; font-family:'gmarket'; color:#000000; }
#gnb_layout .gnb_menu .call .number p {line-height:1.1;margin: 3px 0 0;font-size:14px;font-family: 'nsr';color:#2c2c2c;}
#gnb_layout .gnb_menu .call .number p span {display:inline-block;font-family: 'nsr';color:#006940;}
#gnb_layout .gnb_menu .call a {display:inline-block; width:100px; height:45px; line-height:45px; margin:3px 0 0; border-radius:50px;background:#006940; color:#fff; font-family:'nsr'; font-weight:bold; vertical-align:top;text-align:center; }

#top_layout.on + .gnb_bg {display: block;z-index: 99;}
#top_layout + .gnb_bg {display: none;position: fixed;top: 85px;left: 0;z-index: 2;width: 100%;height: 100%;background: #000;opacity: 0.5;content:'';transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;}

@media(max-width:1469px){
    .layout {max-width:100%; padding:0 35px;}

    #top_layout .top_wrap .utile_wrap li.box {width:70px;}
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose {right: 105px;}
    
    #gnb_layout .depth1_ul {padding-right:170px;}
    #gnb_layout .depth1_ul>li>a {padding: 0 20px;}
}

@media(max-width:1279px){
    #top_layout .top_wrap .utile_wrap li {display:none;}
    #top_layout .top_wrap .utile_wrap li.box.mo,
    #top_layout .top_wrap .utile_wrap li.search {display:block;}
    
    #gnb_layout {display:none !important;}
}

@media(max-width:1023px){
    #top_layout .top_wrap .utile_wrap {margin-right:35px;}
    #top_layout .top_wrap .utile_wrap li.box.mo {width:23px;background: transparent;}
    #top_layout .top_wrap .utile_wrap li.box.mo button {width:100%; background:transparent url(../../../template/A/images/menu2.png)no-repeat center;}
    #top_layout .top_wrap .utile_wrap li.search {margin:0 30px 0 0;}
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose {right: 88px;}
}

@media(max-width:767px){
    .layout {max-width:100%; padding:0 20px;}

    #top_layout .top_wrap #logo {margin:29.5px 0 0 20px;}
    #top_layout .top_wrap #logo a {width:168px; height:26px;}

    #top_layout .top_wrap .utile_wrap {margin-right:20px;}
    #top_layout .top_wrap .utile_wrap li.search {margin:0 25px 0 0;}
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .clickClose {right: 67px;}

}

@media(max-width:400px){
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner strong span {display:none;}
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner #search_input_m {display:block; width:100%;}
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner .submit {display:block;}
    #top_layout .top_wrap .utile_wrap li.search .clickOpen > .inner .form_inner .submit input {width:100%; margin:5px 0 0;}
}




/* mobile menu */
#mobile-menu{overflow: visible;padding:0 !important;}
#mobile-menu .modal-dialog {float:right;width: 320px;height: 100%;margin: 0;border-radius: 0;-webkit-transform: translate(25%,0);transform: translate(25%,0);}
#mobile-menu.in .modal-dialog,
#mobile-menu.show .modal-dialog {-webkit-transform:translate(0px,0);transform: translate(0px,0);}
#mobile-menu .modal-dialog .modal-content{position: static;height: 100%;padding: 0;background:#fff;padding: 130px 0 0;border-radius: 0;}
#mobile-menu .modal-dialog .modal-content .topUtile {position:absolute;top:0;left:0;width: 100%;height: 130px;text-align: left;}
#mobile-menu .modal-dialog .modal-content .topUtile:after {display:block; clear:both; visibility:hidden; content:'';}
#mobile-menu .modal-dialog .modal-content .topUtile .utile1 {padding:0 20px; background:#fff;}
#mobile-menu .modal-dialog .modal-content .topUtile .utile1 ul {}
#mobile-menu .modal-dialog .modal-content .topUtile .utile1 ul li {display:inline-block;margin: 0 10px 0 0;}
#mobile-menu .modal-dialog .modal-content .topUtile .utile1 ul li a {display:block; line-height:70px; font-size:15px; color:#555555 }
#mobile-menu .modal-dialog .clickOpen_lang {position:relative; width:100%; text-align:center;}
#mobile-menu .modal-dialog .clickOpen_lang > button {display:block;width: 100%;height:60px;line-height:60px;padding:0 15px;background: #006742;color:#fff;font-size: 15px;}
#mobile-menu .modal-dialog .clickOpen_lang > button span {display:inline-block;}
#mobile-menu .modal-dialog .clickOpen_lang > button span:after {display:inline-block;content:''; margin:0 0 0 5px;border-bottom: none;border-left:4px solid transparent;border-right: 4px solid transparent;border-top:4px solid #fff;font-size:0;vertical-align: middle;}
#mobile-menu .modal-dialog .clickOpen_lang > div {display:none;position:absolute;z-index: 2;top: 60px;width:100%;border: 3px solid #006742;background: #fff;}
#mobile-menu .modal-dialog .clickOpen_lang.on > div {display:block;z-index:99;}
#mobile-menu .modal-dialog .clickOpen_lang > div > button{display:block;position:absolute;left:0;top: -60px;width: 100%;height:60px;line-height:60px;background: #006742;padding:0 15px;color:#fff;font-size: 15px;}
#mobile-menu .modal-dialog .clickOpen_lang > div > button span {display:inline-block; }
#mobile-menu .modal-dialog .clickOpen_lang > div > button span:after {display:inline-block; content:''; margin:0 0 0 5px;border-left:4px solid transparent;border-right: 4px solid transparent;border-bottom:4px solid #fff;content:''; vertical-align:middle; font-size:0;}
#mobile-menu .modal-dialog .clickOpen_lang > div .inner {}
#mobile-menu .modal-dialog .clickOpen_lang > div .inner span {display:block;}
#mobile-menu .modal-dialog .clickOpen_lang > div .inner span a {display:block;width:100%;height:50px;line-height:50px;padding:0 15px;color:#333;border-top: 1px dashed #ddd;font-size:14px;}


#mobile-menu .modal-dialog .modal-content .modal-body {height:100%;padding: 0;border-top: 1px solid #e5e5e5;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul {overflow-y: scroll;overflow-x: hidden;height:100%;background: #fff;text-align:left;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li {position:relative;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a {display:block;padding: 15px 50px 15px 30px;border-bottom: 1px solid #e5e5e5;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a:before {display:block;position: absolute;content:'';right: 15px;top: 17px;width:23px;height:23px;border-radius:50%;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a:after {display:block;position:absolute;z-index:2;right: 23px;top: 24.5px;width: 5px;height: 5px;border-width:1px;border-style: solid;border-color: #cecece;border-width: 0 2px 2px 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a.ov:before {background:#006742; }
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a.ov:after {top: 25.5px;border-width: 2px 0 0 2px;border-color:#fff;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a span,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a em {display: inline-block;color: #404751;font-size: 17px;font-weight: bold;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul {display:block;width: 100%;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li {display:block;width: 100%;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a {display:block;position: relative;width: 100%;border-bottom: 1px solid #d7d7d7;background: #f6f6f6;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a:before {display:block;position:absolute;z-index:2;right: 25px;top: 26px;width: 8px;height: 8px;border-width:1px;border-style: solid;border-color: #888888;border-width: 1px 1px 0 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li.on > a:before,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li.on > a.ov:before {border-color:#fff;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li.on > a,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.ov {;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li.on > a span,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.ov span {}

#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.dep:before,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.dep:after {content: '';position: absolute;z-index: 2;top: 0;bottom: 0;margin: auto;border: none;transform: none;-webkit-transform: none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.dep:before {right: 20px;width: 15px;height: 1px;background: #888888;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.dep:after {right: 27px;width: 1px;height: 15px;background: #888888;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.dep.ov:before,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li.on > a.dep:before {}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.dep.ov:after{display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li.on > a.dep:after {background:#fff;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a span {display:block;line-height:1.4;padding: 19px 30px;color: #333;font-size: 15px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul {display:none;padding: 15px 0;border-bottom: 1px solid #d7d7d7;background: #e6e6e6;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li {position:relative;padding: 5px 30px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li a:after {display:block;position:absolute;left: 5px;top: 12px;width: 2px;height: 2px;border-radius: 50%;background: #404751;content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a {display:block;position: relative;padding-left: 18px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a.ov span {color:#3174dd;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a.ov:after {background:#3174dd;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a span {display: inline-block;font-size: 14px;color: #404751;}
#mobile-menu .mobile-close {position:absolute;top: 24px;right: 15px;}
#mobile-menu .mobile-close span {display:block;position:relative;width: 23px;height: 23px;font-size:0;}
#mobile-menu .mobile-close span:before,
#mobile-menu .mobile-close span:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;border-radius: 50px;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
#mobile-menu .mobile-close span:before {width:100%;height:1px;background: #2f3236;}
#mobile-menu .mobile-close span:after {width:1px;height:100%;background: #2f3236;}
.modal-backdrop.in{opacity: .8;z-index: 12;}
.modal-open,
.modal-open #body_layout {overflow:hidden;height:100%;}
.modal-open #op_layout {z-index:1;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a[target="_blank"]:before {display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a[target="_blank"]:after{display:inline-block;top: 26px;right: 16px;width:18px;height:12px;margin:-2px 0 0 5px;border:none;background:url(../../../template/A/images/target.png)no-repeat;content:'';vertical-align:middle;transform: none;-webkit-transform: none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a[target="_blank"]:before {display:inline-block;top: 26px;right: 16px;width:18px;height:12px;margin:-2px 0 0 5px;border:none;background:url(../../../template/A/images/target.png)no-repeat;content:'';vertical-align:middle;transform: none;-webkit-transform: none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a[target="_blank"] span:after {display:inline-block;top: 26px;right: 16px;width:18px;height:12px;margin:-2px 0 0 5px;border:none;background:url(../../../template/A/images/target.png)no-repeat;content:'';vertical-align:middle;transform: none;-webkit-transform: none;}